*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: auto;
    padding-top: 3rem;
}

.carousel_container {
    position: relative;
    background-color: black;
}

.img_container {
    display: flex;
    justify-content: center;
    position: relative;
}

img {
    max-width: 100%;
    object-fit: cover;
    height: 550px;
}

.game:not(.active) {
    display: none;
}

.img_text_container {
    position: absolute;
    bottom: 10px;
    left: 20px;
    background-color: rgba(43, 43, 43, 0.668);
    color: white;
    padding: 0 0.5rem;
}

.game_title {
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.game_caption {
    display: block;
    font-size: 1rem;
    padding-bottom: 1rem;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute; 
    top: 0;
    right: 0;
    transform: translate(-50%);
    z-index: 1000;
    height: 100%;
}

button {
    width: 2rem;
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.575);
    margin: 1rem 1.5rem;
}

button i {
    font-size: 1rem;
    color: black;
    padding: 0.5rem;
}

.thumbnails_container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    height: 550px;
    width: 200px;
}

.thumbnails_container img {
    width: 100%;
    height: 107px;
}
